.form-container {
}

.form-input-text {
  border: none;
  width: 100%;
  padding: 8px 4px;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
}

.form-input-text:hover {
  border: none;
}

.delete-btn {
  border-radius: 40%;
}

.delete-btn:hover {
  color: #fff;
}
